# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Testing
.pytest_cache/

# SQLite
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/